/* 头尾各个页面相同的样式 */
/* 版心 */
.wrapper {
  margin: 0 auto;
  width: 1240px;
}

/* 快捷导航 */
.shortcut {
  height: 52px;
  background-color: #333;
}

.shortcut .wrapper {
  display: flex;
  justify-content: flex-end;
  height: 52px;
  /* background-color: pink; */
}

.shortcut ul {
  display: flex;
  line-height: 52px;
}

.shortcut li a {
  padding: 0 15px;
  border-right: 1px solid #999;
  font-size: 14px;
  color: #fff;
}

.shortcut li:last-child a {
  border-right: 0;
}

.shortcut li .iconfont {
  margin-right: 4px;
  vertical-align: middle;
}

.shortcut li .login {
  color: #5EB69C;
}

/* 头部 */
.header {
  display: flex;
  margin-top: 22px;
  margin-bottom: 22px;
  height: 88px;
  /* background-color: pink; */
}

/* logo */
.logo {
  margin-right: 40px;
  width: 200px;
  height: 88px;
  /* background-color: skyblue; */
}

.logo a {
  display: block;
  width: 200px;
  height: 88px;
  background-image: url(../images/logo.png);
  font-size: 0;
}

/* 导航 */
.nav {
  margin-top: 33px;
  margin-right: 28px;
}

.nav ul {
  display: flex;
}

.nav li {
  margin-right: 47px;
}

.nav li a {
  padding-bottom: 10px;
  /* background-color: skyblue; */
}

.nav li a:hover {
  border-bottom: 2px solid #5EB69C;
  color: #5EB69C;
}

.search{
  display: flex;
  margin-top: 33px;
  margin-right: 45px;
  width: 170px;
  height: 34px;
  border-bottom: 2px solid #F4F4F4;
}
.search .iconfont {
  margin-right: 8px;
  font-size: 18px;
  color: #ccc;
}
.search input {
  /* 浏览器优先生效 input 标签的默认宽度，所以 flex：1 不生效 */
  /* 解决办法：重置 input 默认宽度 → width：0 */
  flex: 1;
  width: 0;
}
.search input::placeholder {
  font-size: 16px;
  color: #ccc;
}

.cart{
  position: relative;
  margin-top: 32px;
}
.cart span{
  font-size: 24px;
}
.cart i{
  position: absolute;
  left: 15px;
  top: 1px;
  width: 9px;
  height: 15px;
  border-radius: 8px;
  background-color: #E26237;
  font-size: 14px;
  color: #FFFEFE;
  line-height: 15px;
}

/* 底部 */
.footer{
  height: 580px;
  background-color: #F5F5F5;
}
/* 服务 */
.service{
  height: 178px;
  border-bottom: 1px solid #E8E8E8;
  padding: 60px 0;
}
/* 帮助中心 */
.help{
  padding-top: 60px;
  justify-content: space-between;
  height: 300px;
  display: flex;
}

.service ul{
  display: flex;
  justify-content: space-evenly;
}
.service li{
  display: flex;
  width: 190px;
  height: 58px;
}
.service li h5{
  background-image: url(../images/sprite.png);
  width: 58px;
  height: 58px;
  margin-right: 20px;
}
.service li p {
  font-size: 28px;
  line-height: 58px;
}
.service li:nth-child(2) h5 {
  background-position: 0 -58px;
}
.service li:nth-child(3) h5 {
  background-position: 0 -116px;
}
.service li:nth-child(4) h5 {
  background-position: 0 -174px;
}

.help .left{
  display: flex;
}
.help .left dl{
  margin-right: 84px;
  margin-bottom: 30px;
}
.help .left dl:last-child {
  margin-right: 0;
}

.help .left dt {
  margin-bottom: 30px;
  font-size: 18px;
}
.help .left dd {
  margin-bottom: 10px;
}
.help .left a {
  color: #969696;
}
.help .left .iconfont {
  color: #5EB69C;
}
.help .right ul {
  display: flex;
}
.help .right li:first-child {
  margin-right: 55px;
}

.help .right .pic {
  margin-bottom: 10px;
  width: 120px;
  height: 120px;
}
.help .right p {
  color: #969696;
  text-align: center;
}
.copyright {
  text-align: center;
}
.copyright p {
  margin-bottom: 10px;
  color: #A1A1A1;
}

.copyright p a {
  margin: 0 10px;
  color: #A1A1A1;
}




